.container {
     display: grid;
    /*grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main . sidebar"
        "footer footer footer footer"; */
/*     caso #1
    grid-template-columns: auto auto;
    gap: 10px; */
    /* caso #2*/
    grid-template-columns: 1fr 1fr;
    gap :10px; 
}

.item {
    background-color: rgb(173, 230, 187);
    padding: 5%;
    text-align: center;
}

.item2 {
    background-color: rgb(250, 230, 187);
    padding: 5%;
    text-align: center;

}

.item3 {
    background-color: rgb(250, 230, 187);
    padding: 5%;
    text-align: center;

}

.item4 {
    background-color: rgb(250, 230, 187);
    padding: 5%;
    text-align: center;

}

.item5 {
    background-color: rgb(250, 230, 187);
    padding: 5%;
    text-align: center;

}

.header {
    grid-area: header;
    background-color: rgb(173, 230, 187);

}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(250, 230, 187);
}

.main {
    grid-area: main;
    background-color: rgb(250, 230, 187);
}

.footer {
    grid-area: footer;
    background-color: rgb(173, 230, 187);

}